
* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Poppins', sans-serif;
    background: #2e2e2e;
  }

  .container {
    position: relative;
    width: 40%;
    height: 70vh;
    margin: auto;
    padding: 20px;
    background: rgba(244, 242, 242, 0.352); 
    border-radius: 10px;
    color: white; 
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#bg-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

  .title {
    text-align:left;
    font-size: 24px;
    font-weight: bold;
    color: #22478b;
  }
  .line {
    text-align:left;
    font-size: 24px;
    font-weight: bold;
    color: #4a71f2;
  }

  .output-container{
    display: flex;
    flex-direction: row-reverse;
    
  }

  .chat {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #36c5c569;
    border-radius: 5px;
    background: #4252a3;
  }

  .message {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .user {
    justify-content: flex-end;
  }

  .bot {
    justify-content: flex-start;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
  }

  .user .avatar {
    order: 2;
    background: url("user1.jpg");
    background-size: cover;
  }

  .bot .avatar {
    order: 1;
    background: url("robo3.jpg");
    background-size: cover;
  }

  .text {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
  }

  .user .text {
    background: #4a4d52;
  }

  .bot .text {
    background: #8c8c8e;
  }

  .input {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 2px solid #323295;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    margin-right: 2rem;
   
  }

  .input:focus {
    border-color: #8296d0;
    color: #1e1f1f;
  }

  .button {
    position: absolute;
    width: 80px;
    border: none;
    padding: 1px;
    background: #31363F;
    color: rgb(71, 32, 244);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: .01rem;
    margin-left: -4.1rem;
    outline: none;
  
  }
.button i{
  font-size: 3rem;
}
  .button:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .chat::-webkit-scrollbar {
    width: 10px;
}

.chat::-webkit-scrollbar-thumb {
    background: #3362ef;
    border-radius: 10px;
}
  @media screen and (max-width: 600px){
    body{
      background-attachment:lightblue;
    }
  }
  
    
  
